@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent overscrolling. */
html,
body {
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  color: white;
  background: black;
  font-family: consolas, monospace;
}
